.swiper.main {
  height: 700px;

  .swiper-slide.main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    object-fit: cover;
  }
}

.slide-1 {
  background-image: url("../images/hero-slider-1.jpg");
  transition: scale 0.2s ease;
  object-fit: contain;
}
.slide-2 {
  background-image: url("../images/hero-slider-2.jpg");
  transition: scale 0.2s ease;
  object-fit: contain;
}
.slide-3 {
  background-image: url("../images/hero-slider-3.jpg");
  transition: scale 0.2s ease;
  object-fit: cover;
}

.prev-button,
.next-button {
  color: var(--gold-crayola);
  margin-block-start: 10px;
}

.prev-button:hover,
.next-button:hover {
  border: 1px solid var(--gold-crayola);
  font-size: 0.8em;
  padding: 2em 2em;
}

.slide-1:hover,
.slide-2:hover,
.slide-3:hover {
  scale: 1.01;
}

.top-content {
  position: relative;
  color: var(--gold-crayola);
  font-size: 0.7em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.top-content::after {
  content: url(../images/icons/separator.svg);
  display: block;
  width: 150px;
  margin-top: 0.3em;
  margin-inline: auto;
  margin-block-start: 5px;
}

.middle-content {
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 4px;
}

.last-content {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn {
  background-color: transparent;
  color: var(--gold-crayola);
  border: 1px solid var(--gold-crayola);
  padding: 0.1em 0.6em;
  outline: none;
  font-weight: 300;
  border-radius: 3px;
  cursor: pointer;
  transition: scale 0.2s ease;
  position: relative;
}

.btn:hover {
  background-color: var(--gold-crayola);
  color: black;
  scale: 1.05;
}

.btn:active {
  scale: 0.95;
}

.hero-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  background-color: var(--gold-crayola);
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}
.hero-btn span {
  color: var(--black);
  font-weight: 600;
  font-size: 15px;
}

.has-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.has-after::after {
  content: "";
  position: absolute;
}
.hero-btn::after {
  inset: 0;
  border: 1px solid var(--gold-crayola);
  animation: rotate360 15s linear infinite;
}

.hero-text {
  transform: translateY(30px);
  opacity: 0;
}

.swiper .swiper-slide .hero-text {
  animation: sliderReveal 3s ease forwards;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.swiper .swiper-slide .top-content {
  animation-delay: 500ms;
}

.swiper .swiper-slide .hero-title {
  animation-delay: 1000ms;
}

.swiper .swiper-slide .btn {
  animation-delay: 1000ms;
}

/*-------------
-----------------------------------------------------------------------
---- banner------------
---------*/

.banner {
  padding: 4em 5em;
}
.banner-container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 200px;
}

.banner-card {
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-color: rgba(29, 29, 29, 0.7);
  background-blend-mode: darken;
  cursor: pointer;
}

.banner-card:hover {
  background-color: transparent;
  transform: scale(1.02);
}

.banner-card p {
  font-size: 1.3em;
  color: var(--black);
}

.banner-card h4 {
  font-size: 2em;
  color: white;
}

.banner-card:nth-child(1) {
  background-image: url(../images/banner-1.jpg);
}
.banner-card:nth-child(2) {
  background-image: url(../images/banner-2.jpg);
}
.banner-card:nth-child(3) {
  background-image: url(../images/banner-3.jpg);
}

@media (min-width: 540px) {
  .banner-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-card:nth-child(1) {
    grid-area: 1/1/2/3;
  }
}

@media (min-width: 892px) {
  .banner-card {
    padding: 1.5rem;
  }
  .banner-card:nth-child(1) {
    grid-area: 1/1/3/2;
  }
}

@media (max-width: 992px) {
  .last-content {
    width: 400px;
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  }

  .banner {
    padding: 3em;
  }
}
